.App {
  padding: 0rem 5rem;
}

/* -------- utils --------*/
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-start {
  justify-content: flex-start;
}

.bg-yellow {
  background-color: yellow;
}

.cursor-p {
  cursor: pointer;
}
